/
  Carousel
  \==================================================
#myCarousel.carousel.slide
  .carousel-inner
    .item.active
      %img{:alt => "", :src => "/images/slide1.jpg"}
        .container
          .carousel-caption
            %h1 Example headline.
            %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            %a.btn.btn-large.btn-primary{:href => "#"} Sign up today
