#page-agenda
  .container
    %h1
      %i.icon-calendar
      Schedule
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{:width => "80px"} When
          %th{:width => "20%"} What
          %th Notes
      %tbody
        %tr
          %td.separator.separator{:colspan => 3} Thursday, February 7th
        %tr
          %td 6pm-7pm
          %td Hackathon Preps: How to be a efficient hacker
          %td
        %tr
          %td 7pm-8pm
          %td Team up
          %td Server keys and Raspberry Pis will be distributed.
        %tr
          %td.separator{:colspan => 3} Saturday, February 9th
        %tr
          %td 9am-10am
          %td Breakfast and Registration
          %td
        %tr
          %td 10am-11am
          %td Hackathon kicks off
          %td
        %tr
          %td 1pm-2pm
          %td Free Lunch
          %td
        %tr
          %td 5pm-6pm
          %td Free Hot Dinner
          %td
        %tr
          %td 11pm-9am
          %td Migrate to the Library
          %td Since our place close at 11pm
        %tr
          %td.separator{:colspan => 3} Sunday, February 10th
        %tr
          %td 9am
          %td Room opens at 9, breakfast will be available
          %td
        %tr
          %td 1pm
          %td Lunch
          %td
        %tr
          %td 4.30pm
          %td Deadline to submit hacks
          %td
        %tr
          %td 5pm
          %td Stress free dinner
          %td
        %tr
          %td 6pm
          %td Final Round Demos + Awards
          %td
        %tr
          %td 8pm
          %td After party @ Eastside bar
          %td
