#page-agenda
  .container
    %h1
      %i.icon-calendar
      Schedule
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{:width => "80px"} When
          %th{:width => "20%"} What
          %th Notes
      %tbody
        %tr
          %td.separator.separator{:colspan => 3} Tuesday, February 5th
        %tr
          %td 7pm-8pm
          %td Skills Workshop
          %td HTML/CSS
        %tr
          %td.separator{:colspan => 3} Wednesday, February 6th
        %tr
          %td 5pm-7pm
          %td Ideas Pitch & Team Formation
          %td
            %p
              Looking for a team at ICHack? Have a team, but haven't figured out an idea yet? Have an idea, and hoping to find a team to implement it?
        %tr
          %td 7pm-8pm
          %td Skills Workshop
          %td
        %tr
          %td.separator{:colspan => 3} Thursday, February 7th
        %tr
          %td 6pm-7pm
          %td Skills Workshop
          %td
            %p Lorin Gabriel presents an awesome design talk
            %p Learn about the basics of visual design & typography and how common design problems are solved. As a hacker, learn how to approach the problem of making a web product visually appealing and usable. The talk will go into how to think about the design process and breaking down a web app into interactions and its user experience. It will also dive into some of the technicalities of implementing these designs and a variety of design resources.
        %tr
          %td 7pm-8pm
          %td Skills Session
          %td How to Hack Workshop by Facebook
        %tr
          %td.separator{:colspan => 3} Saturday, February 9th
        %tr
          %td 9am-10am
          %td Breakfast and Hacking Begins!
          %td
        %tr
          %td 10am-11am
          %td API Demos
          %td
        %tr
          %td 1pm-2pm
          %td Lunch
          %td Pizza / or Sandwiches
        %tr
          %td 2pm-6pm
          %td More Hacking
          %td
        %tr
          %td 5pm-6pm
          %td Dinner
          %td Currey/Pelmeni/Something hot
        %tr
          %td 8pm
          %td Raffles
          %td
        %tr
          %td 11pm-9am
          %td Migrate to the Library
          %td Since our labs close at 11pm
        %tr
          %td.separator{:colspan => 3} Sunday, February 10th
        %tr
          %td 9am
          %td Breakfast
          %td Tea, Coffee, Cookies etc
        %tr
          %td
          %td Quizzes, Raffles
          %td
        %tr
          %td 10am
          %td Sponsor Prize Showcase
          %td
        %tr
          %td 2pm-3pm
          %td Lunch
          %td Pizza!
        %tr
          %td 4.30pm
          %td Wrap-Up
          %td
        %tr
          %td 5pm-6:30pm
          %td Final Round Demos + Awards
          %td
        %tr
          %td 6:30pm-9pm
          %td After party and Sponsor Networking @ Eastside bar
          %td
        %tr
          %td 9pm
          %td Go Home and Sleep!
          %td



