#page-agenda
  .container
    %h1
      %i.icon-calendar
      Schedule
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{:width => "80px"} When
          %th{:width => "20%"} What
          %th Notes
      %tbody
        %tr
          %td.separator.separator{:colspan => 3} Friday, February 8th
        %tr
          %td 1pm
          %td Hackathon Prep: How to be a efficient hacker
          %td Everything from boostrapping a project to deployment, demos and keeping an optimum redbull-blood-alcohol level
        %tr
          %td 1.30pm
          %td Ideas Pitch & Team Formation
          %td If you have an idea, but don’t yet have a team, there will also be the opportunity for a short pitch (<2 minutes). If this is something you want to participate in, prepare beforehand and you will be given the opportunity to recruit any stray hackers to your cause!
        %tr
          %td 2pm
          %td Server keys and Raspberry Pis will be distributed.
          %td
        %tr
          %td.separator{:colspan => 3} Saturday, February 9th
        %tr
          %td 9am-10am
          %td Breakfast and Registration
          %td
        %tr
          %td 10am-11am
          %td Official Kickoff
          %td
        %tr
          %td 1pm-2pm
          %td Free Lunch
          %td
        %tr
          %td 5pm-6pm
          %td Free Hot Dinner
          %td
        %tr
          %td 11pm-9am
          %td Migrate to the Library
          %td Since our place close at 11pm
        %tr
          %td.separator{:colspan => 3} Sunday, February 10th
        %tr
          %td 9am
          %td Room opens at 9, breakfast will be available
          %td
        %tr
          %td 1pm
          %td Lunch
          %td
        %tr
          %td 4.30pm
          %td Deadline to submit hacks
          %td
        %tr
          %td 5pm
          %td Stress free dinner
          %td
        %tr
          %td 6pm
          %td Final Round Demos + Awards
          %td
        %tr
          %td 8pm
          %td After party @ Eastside bar
          %td
