#page-agenda
  .container
    %h1
      %i.icon-calendar
      Schedule
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{:width => "80px"} When
          %th{:width => "20%"} What
          %th Notes
      %tbody
        %tr
          %td.separator.separator{:colspan => 3} Tuesday, February 5th
        %tr
          %td 7pm-8pm
          %td Skills Workshop
          %td HTML/CSS
        %tr
          %td.separator{:colspan => 3} Wednesday, February 6th
        %tr
          %td 5pm-7pm
          %td Ideas Pitch & Team Formation
          %td
            %p
              Looking for a team at ICHack? Have a team, but haven't figured out an idea yet? Have an idea, and hoping to find a team to implement it?
              .link.expand-link More...
            .long-version{:style => "display:none"}
              %p ICHack and the Wharton Entrepreneurship Club are co-hosting an idea pitch and team formation session this Wednesday at 5 PM, in SHDH 213. The event will consist of a series of lightning "idea pitches", after which all in attendance will be able to go chat with the students who pitched ideas, to form teams. Immediately following the pitches, an audience vote will determine the best pitch, which will win a prize of $100.
              %p All students - engineers and non-engineers - are encouraged to attend. This is a great opportunity to get validation for your app idea, to find a team to work with this weekend, or to simply get in the mood in anticipation for ICHack this weekend. If you want to give a pitch, please fill out this brief form: https://docs.google.com/spreadsheet/viewform?formkey=dDRrOTBjTX pjT0hYcm42TWp4VENxZHc6MQ
              %p Food will be provided at the event!
              %p Guidelines for the idea pitch:
              %ul
                %li All students are welcome to pitch, whether you are an engineer, a business major, or any other major.
                %li The goal is to meet other students interested in similar projects, and to potentially form teams for the upcoming ICHack hackathon this weekend.
                %li If you didn't come with an idea, note the pitches that you like and go chat with those students during the open discussion section of the event to see if you might want to work together for ICHack.
                %li If you did come with an idea, please indicate what skills you can contribute to your team, and the type of team members you're looking for when you pitch, so that they can approach you during the event.
                %li It's fantastic if you find students that are excited about your idea, but don't just form teams based on interest in a topic. Make sure to discuss your approach, expectations, and team structure. We've listed a few suggestions for questions that you should ask a potential ICHack team member:
                %li What is your background and why does it fit with this project?
                %li Are you definitely interested in working on this project for ICHack? -What are you trying to get out of ICHack?
                %li What can I contribute (as a technical or a non-technical team member)?
                %li Do you have a long term goal for this idea that you want to pursue past ICHack?
                %li If a team is formed, who does the idea and potential product belong to?
        %tr
          %td 7pm-8pm
          %td Skills Workshop
          %td
        %tr
          %td.separator{:colspan => 3} Thursday, February 7th
        %tr
          %td 6pm-7pm
          %td Skills Workshop
          %td
            %p Lorin Gabriel presents an awesome design talk
            %p Learn about the basics of visual design & typography and how common design problems are solved. As a hacker, learn how to approach the problem of making a web product visually appealing and usable. The talk will go into how to think about the design process and breaking down a web app into interactions and its user experience. It will also dive into some of the technicalities of implementing these designs and a variety of design resources.
        %tr
          %td 7pm-8pm
          %td Skills Session
          %td How to Hack Workshop by Facebook
        %tr
          %td.separator{:colspan => 3} Saturday, February 9th
        %tr
          %td 9am-10am
          %td Breakfast and Hacking Begins!
          %td
        %tr
          %td 10am-11am
          %td API Demos
          %td
        %tr
          %td 1pm-2pm
          %td Lunch
          %td Pizza / or Sandwiches
        %tr
          %td 2pm-6pm
          %td More Hacking
          %td
        %tr
          %td 5pm-6pm
          %td Dinner
          %td Currey/Pelmeni/Something hot
        %tr
          %td 8pm
          %td Raffles
          %td
        %tr
          %td 11pm-9am
          %td Migrate to the Library
          %td Since our labs close at 11pm
        %tr
          %td.separator{:colspan => 3} Sunday, February 10th
        %tr
          %td 9am
          %td Breakfast
          %td Tea, Coffee, Cookies etc
        %tr
          %td
          %td Quizzes, Raffles
          %td
        %tr
          %td 10am
          %td Sponsor Prize Showcase
          %td
        %tr
          %td 2pm-3pm
          %td Lunch
          %td Pizza!
        %tr
          %td 4.30pm
          %td Wrap-Up
          %td
        %tr
          %td 5pm-6:30pm
          %td Final Round Demos + Awards
          %td
            %p
              .link.expand-link More...
            .long-version{:style => "display:none"}
              %ul
                %li ICHack (http://ichack.org/) is the largest college hackathon in the country. Over the February 9-10 weekend, 500 student "hackers" will come from 40 universities around the world, including ETH Zurich, Stanford, UT Austin, and many more, to build software applications from scratch and compete for over $20,000 in prizes.
                %li Come to the (free of cost) demo session at Irvine on Sunday to see the top 20 teams from over 100 competing present their awesome hacks. Demos of previous winners of ICHack include:
                %li 4D News: https://www.youtube.com/watch?v=dQw4w9WgXcQ
                %li Hot spot of lecture slides : https://www.youtube.com/watch?v=dQw4w9WgXcQ
                %li Make sure to register for the event on Eventbrite as well! http://ICHack2013.eventbrite.com/
        %tr
          %td 6:30pm-9pm
          %td After party and Sponsor Networking @ Eastside bar
          %td
        %tr
          %td 9pm
          %td Go Home and Sleep!
          %td



